
OpenCMIS/.vs/OpenCMIS/v15/Server/sqlite3/db.lock
*.dll
*.pdb
*.cache
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/project.lock.json
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/PortCMIS.shfbproj
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/PortCMIS.shfbproj
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OpenCMIS/chemistry-portcmis-0.3-src/src/PortCMIS/obj/Debug/PortCMIS.csproj.FileListAbsolute.txt
OpenCMIS/TextFileRead/.vs/TextFileRead/v15/Server/sqlite3/db.lock
