﻿<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <appSettings>
            <add key="CouchDBUrl" value="http://localhost:5984" />
            <add key="DeleteRelationshipUrl" value="http://localhost:5984/bedroom/_design/_repo/_view/relationships" />
            <add key="SavedFileFolder" value="home/riley"/>
        </appSettings>
</configuration>